# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Virtualenv
venv/
.env

# Build artifacts
build/
dist/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Runtime data
data/
